LinkedIn-Scraper/
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.cursor
*.egg-info/
.DS_Store
/src/jobseeker_agent/data/raw_jobs/raw_jobs.json
/src/jobseeker_agent/temp/
/src/temp/
/src/jobseeker_agent/data/prompts/profil_pro.md
src/jobseeker_agent/data/reviewer/tests/
src/jobseeker_agent/data/reviewer/reviews.json
src/jobseeker_agent/data/reviewer/processed_jobs.json
src/jobseeker_agent/data/prompts/profil_pro.md
src/jobseeker_agent/data/reviewer/job_statuses.json
src/jobseeker_agent/data/resume/
.DS_Store
src/jobseeker_agent/reviewer/evaluation/test-models-on-18.ipynb
src/jobseeker_agent/customizer/evaluation/analyze_keywords.ipynb
src/jobseeker_agent/customizer/evaluation/keyword_extractor/analyze_keywords.ipynb
*.ipynb
