LinkedIn-Scraper/
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.cursor
*.egg-info/
.DS_Store
/src/jobseeker_agent/data/raw_jobs/raw_jobs.json
/src/jobseeker_agent/temp/
/src/temp/
/src/jobseeker_agent/data/prompts/profil_pro.md
src/jobseeker_agent/data/evaluator/tests/
src/jobseeker_agent/data/evaluator/evals.json
src/jobseeker_agent/data/evaluator/processed_jobs.json
src/jobseeker_agent/data/evaluator/evals.json
src/jobseeker_agent/data/prompts/profil_pro.md
